<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Matrices</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container">
        <h1 class="mt-5">List of Matrices</h1>
        <div class="accordion" id="matrixAccordion">
            {% for matrix in matrices %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ matrix.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ matrix.id }}" aria-expanded="false" aria-controls="collapse{{ matrix.id }}">
                            Matrix {{ matrix.identifier }} - {{ matrix.name }}
                        </button>
                    </h2>
                    <div id="collapse{{ matrix.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ matrix.id }}">
                        <div class="accordion-body">
			    <strong><a href="{{ url_for('edit_matrix', matrix_id=matrix.id) }}"><--Editar--></a></strong>
                            <p><strong>Dimensions:</strong> {{ matrix.width_mm }} mm x {{ matrix.height_mm }} mm</p>
                            <p><strong>With Move:</strong> {{ 'Yes' if matrix.with_move else 'No' }}</p>
                            <p><strong>Is Combinable:</strong> {{ 'Yes' if matrix.is_combinable else 'No' }}</p>
                            <h6>Cavities:</h6>
                            <ul class="list-group">
                                {% for cavity in matrix.cavities %}
                                    <li class="list-group-item">
                                        Piece: {{ cavity.piece_name }},
                                        Weight: {{ cavity.piece_weight }} grs,
                                        Shape: {{ cavity.piece_shape }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
